python-telegram-bot[job-queue]==21.10
groq==0.18.0
asyncpg==0.30.0
pydantic==2.10.6
python-dotenv==1.0.1
sentence-transformers==3.4.1
PyMuPDF==1.25.3
python-docx==1.1.2
docx2txt==0.8
apscheduler==3.11.0
numpy<2.0.0
torch --index-url https://download.pytorch.org/whl/cpu
# Web API
fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.20
